/* home/index.css */
body {
    background-image: url('https://school-diary-app-bucket.s3.ap-northeast-1.amazonaws.com/top.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
    padding-top: 80px; /* ヘッダーの高さ分のパディングを追加 */
}

.login-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    margin-bottom: 30px;
}

.login-message {
    padding: 24px 0;
}

.login-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

.top-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
