/* pages/login_success.css */

.login-success-container {
    flex: 1;
    min-height: 100vh; /* 要素が背景画像の高さを超えたときに対応 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 480px;
}

.login-success-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: black; /* 文字色を黒に変更 */
}

.calendar {
    margin-bottom: 30px; /* カレンダーとボタンの間に余白を追加 */
}

.diary-buttons {
    display: flex;
    justify-content: center;
    gap: 24px; /* ボタン間の間隔を追加 */
    margin-bottom: 24px; /* 上部に余白を追加 */
}

.diary-button {
    display: inline-block;
    width: 200px;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.write_diary_button {
    background-color: #0288d1; /* 濃い水色 */
}

.show_diary_button {
    background-color: #388e3c; /* 濃い緑 */
}

.diary-button:hover {
    transform: scale(1.05);
}

.write_diary_button:hover {
    background-color: #b3e5fc; /* 淡い水色 */
    color: #000; /* ホバー時の文字色を黒に */
}

.show_diary_button:hover {
    background-color: #c8e6c9; /* 淡い緑 */
    color: #000; /* ホバー時の文字色を黒に */
}
