/* teachers/student_list.css */
.student-list-page {
    padding: 20px;
    margin-top: 420px;
}

.student-list-page .page-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.student-list-page .back-link {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: white;
    text-decoration: none;
}

.student-list-page .back-link:hover {
    text-decoration: underline;
}

.student-list-page .student-table {
    display: flex;
    justify-content: space-around;
    gap: 10px; /* 列間のスペースを追加 */
}

.student-list-page .student-column {
    flex: 1;
    margin: 0 10px;
    min-width: 200px; /* 列の最小幅を設定 */
}

.student-list-page .student-row {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 垂直方向の中央揃え */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    color: #000;
    font-size: 0.9em;
    word-wrap: break-word;
}

.student-list-page .student-number,
.student-list-page .student-action {
    flex: 1;
    font-size: 1.6em; /* フォントサイズを統一 */
    text-align: center; /* 中央揃え */
}

.student-list-page .student-action {
    text-align: right;
}

.student-list-page .student-button-link {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.7em; /* 文字サイズを調整 */
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.student-list-page .student-button-link:hover {
    background-color: #0056b3;
}
