<% provide(:title, 'とうろくページ') %>

<div class="additional_info_container">
    <h1>データを とうろく しよう！</h1>

    <div data-controller="additional-info">
        <%= turbo_frame_tag "additional_info_form" do %>
            <%= render 'additional_info_form', user: @user %>
        <% end %>
     </div>
</div>
