<% provide(:title, 'とうろくページ') %>

<div class="additional_info_container">
    <h1>データを とうろく しよう！</h1>

    <div data-controller="additional-info">
            <%= render 'users/additional_info_form', user: @user %>
     </div>
</div>
