/* diaries/calendar.css */
.calendar {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 32px;
}

.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    vertical-align: top;
  }

.calendar-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    size: 16px;
    text-align: center;
}

.calendar-title {
    display: inline-block;
    color: #333;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 16px;
}

.calendar-heading nav {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
}

.calendar-heading nav a {
    text-decoration: none;
    padding-left: 16px;
}


.table.table-striped {
    color: #333;
    margin-top: 16px;
}
  /* 曜日ごとの色（目に優しいパステルカラー） */
  #calendar th:nth-child(1), #calendar td:nth-child(1) {
    border-color: #D7BAFF; /* 月曜日 */
    background-color: #F3E6FF; /* 月曜日の背景色 */
  }
  #calendar th:nth-child(2), #calendar td:nth-child(2) {
    border-color: #FFB3BA; /* 火曜日 */
    background-color: #FFE6E6; /* 火曜日の背景色 */
  }
  #calendar th:nth-child(3), #calendar td:nth-child(3) {
    border-color: #BAE1FF; /* 水曜日 */
    background-color: #E6F7FF; /* 水曜日の背景色 */
  }
  #calendar th:nth-child(4), #calendar td:nth-child(4) {
    border-color: #BAFFC9; /* 木曜日 */
    background-color: #E6FFE6; /* 木曜日の背景色 */
  }
  #calendar th:nth-child(5), #calendar td:nth-child(5) {
    border-color: #FFFFBA; /* 金曜日 */
    background-color: #FFFFE6; /* 金曜日の背景色 */
  }
  #calendar th:nth-child(6), #calendar td:nth-child(6) {
    border-color: #FFDFBA; /* 土曜日 */
    background-color: #FFF2E6; /* 土曜日の背景色 */
  }
  #calendar th:nth-child(7), #calendar td:nth-child(7) {
    border-color: #FFB3FF; /* 日曜日 */
    background-color: #FFE6FF; /* 日曜日の背景色 */
  }

  /* 日付セルのスタイリング */
.day {
    color: #333;
    position: relative;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.day:hover {
    background-color: #f1f1f1;
  }

  /* 今日の日付のスタイリング */
.today {
    background-color: #ffffcc; /* 淡い黄色 */
}

.date-number {
    font-size: 18px;
    font-weight: bold;
}

  /* スタンプのスタイリング */
.diary-stamp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%; /* スタンプ画像の幅を調整 */
    height: 70%; /* スタンプ画像の高さを調整 */
    display: block;
}
