/* diaries/new_for_student.css */
.new-for-student-diary-page {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    padding: 20px;
    text-align: center;
    margin-top: 420px;  /* 上部の余白を調整 */
}

#flash_messages {
    margin-bottom: 20px;
}

.new-for-student-diary-page h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.new-for-student-diary-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-for-student-date-field {
    margin-bottom: 20px;
}

.new-for-student-date-field label {
    font-weight: bold;
    margin-right: 10px;
}

.new-for-student-date-field span {
    font-size: 1.2em;
    color: #333;
}

.new-for-student-question-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

.new-for-student-question-container h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.new-for-student-emotions-container {
    display: flex;
    justify-content: space-around;
}

.new-for-student-emotion-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.new-for-student-emotion-item input[type="radio"] {
    display: none;
}

.new-for-student-emotion-item label {
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.new-for-student-emotion-item label img {
    display: block;
    margin: 0 auto 10px;
    filter: grayscale(100%); /* 画像を白黒に */
    transition: filter ease-in-out;
    width: 50px; /* 画像の大きさを50pxに固定 */
    height: 50px; /* 画像の大きさを50pxに固定 */
}

.new-for-student-emotion-item input[type="radio"]:checked + label img {
    filter: none; /* 選択された画像はカラーに */
}

.new-for-student-emotion-item label span {
    display: block;
    font-size: 0.8em;
    color: #333;
}

.new-for-student-submit-container {
    margin-top: 20px;
}

.new-for-student-submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.new-for-student-submit-button:hover {
    background-color: #0056b3;
}