/* diaries/show.css */
.diary-page {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 80px;
}

.diary-page h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.day-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.date-field {
    font-size: 1.2em;
    margin: 0 15px;
    color: #333;
}

.diary-text-container {
    display: flex;
    justify-content: center; /* 無駄なスペースを調整 */
    margin-top: 20px;
}

.diary-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    justify-content: space-between; /* 背景の縦の長さを揃える */
    height: 100%; /* 各カラムの高さを揃える */
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 20px 10px; /* 余白を調整 */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #000;
    white-space: pre-line;
    display: flex; /* フレックスディスプレイを追加 */
    flex-direction: column; /* フレックスディレクションを追加 */
    justify-content: flex-start; /* 縦の余白を狭く */
    align-items: flex-start; /* 頭ぞろえにする */
    height: 70%; /* 各カラムの高さを揃える */
    margin-bottom: 10px; /* 下の余白を調整 */
}

.emotion-image {
    margin-top: 10px;
    display: flex;
    align-items: center; /* 画像の表示高さを揃える */
    justify-content: center; /* 画像の表示高さを揃える */
    height: 40px; /* 高さを固定 */
}

.emotion-image img {
    width: 20px;
    height: 20px;
}

.button {
    background-color: #6ba4ff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}
