/*

 *= require_self
 *= require reset
 *= require header
 *= require flash
 *= require home/index
 *= require pages/login_success
 *= require users/additional_info
 *= require diaries/new
 *= require diaries/calendar
 *= require diaries/show
 *= require diaries/class_selection
 *= require diaries/class_diary
 *= require diaries/student_diary
 *= require diaries/new_for_student
 *= require teachers/select_class
 *= require teachers/student_list
 *= require teachers/emotion_distribution
 */

 body {
    background-image: url('https://school-diary-app-bucket.s3.ap-northeast-1.amazonaws.com/top.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 背景画像を固定 */
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
}

