/* flash.css */

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .flash.notice {
    background-color: #dff0d8;
    color: #3c763d;
  }

  .flash.alert {
    background-color: #f2dede;
    color: #a94442;
  }
